<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotels</title>
</head>

<body>
  <table border="1">
    <tr>
      <td>Name</td>
      <td>Address</td>
      <td>City</td>
      <td>Zip</td>
    </tr>
    {{range .}}
    <tr>
      <th colspan="4">{{.Name}}</th>
    </tr>
    {{range .Hotels}}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.Address}}</td>
      <td>{{.City}}</td>
      <td>{{.Zip}}</td>
    </tr>
    {{end}}
    {{end}}
  </table>
</body>

</html>
